# Python
__pycache__/
*.py[cod]
*.so
venv/
.env

# Database
*.db
instance/

# Celery
celerybeat-schedule
celerybeat-schedule.db

# Exports
exports/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
